<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

  <test name="CoreClasses">
    <classes>
      <class name="gui.core.Buffer2DTest"/>
      <class name="gui.core.ContainerTest"/>
    </classes>
  </test>

  <test name="ObjClasses">
    <classes>
      <class name="gui.obj.BoxTest"/>
    </classes>
  </test>

  <test name="GuiClasses">
    <classes>
      <class name="gui.component.ComponentTest"/>
      <class name="gui.component.LabelTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->